<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Lets Eat!</title>
</head>
<body>

<form class = "form-register" method="post" name="login" onsubmit="return validate();">
    <div class="register-with-email">
        <div class="form-white background">
            <div class= "form-title-row">
                <h1>Login</h1>
            </div>
        </div>
    </br>

    <div class="form-row">
        <label>
            <span>Email</span>
            <input type="text" name="txt_email" id="email" placeholder="enter email">
        </label>
    </div>

        <div class="form-row">
            <label>
                <span>Password</span>
                <input type="password" name="txt_password" id="password" placeholder="enter password">
            </label>
        </div>
        <input type="submit" name="btn_login" value="Login">
    </div>
    <a href="register" class="form-login">You don't have an account? <b>Register here</b></a>
    </div>

</form>



<div class = "jumbotron text-center">
    <h3>Quick Links to more recipe ideas!</h3>
</div>

<div class="btn-group btn-group-justified">
    <a href="#" class="btn btn-primary" onclick="window.location='https://www.foodnetwork.com';">FoodNetwork</a>
    <a href="#" class="btn btn-primary" onclick="window.location='https://www.allrecipes.com';">AllRecipes</a>
    <a href="#" class="btn btn-primary" onclick="window.location='https://www.food.com';">Food</a>
    <a href="#" class="btn btn-primary" onclick="window.location='https://www.thekitchn.com/';">TheKitchn</a>
    <a href="#" class="btn btn-primary" onclick="window.location='https://www.chowhound.com/';">Chow</a>
</div>

<div class = "jumbotron text-center">
    <h3>Pick A Cuisine</h3>
</div>

<div class="btn-group btn-group-justified">
    <a href="#" class="btn btn-primary">Asian</a>
    <a href="#" class="btn btn-primary">Mexican</a>
    <a href="#" class="btn btn-primary">Italian</a>
    <a href="#" class="btn btn-primary">American</a>
</div>



</body>
</html>