<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Lets Eat!</title>
</head>
<body>

<form class = "form-register" method="post" action="/welcome" name="login" onsubmit="return validate();">
<!--    <div class="register-with-email">-->
<!--        <div class="form-white background">-->
<!--            <div class= "form-title-row">-->
                <h1>Login</h1>
<!--            </div>-->
<!--        </div>-->
    </br>

    <div class="form-row">
        <label>
            <span>Email</span>
            <input type="text" name="txt_email" id="email" placeholder="enter email">
        </label>
    </div>
    </br>

        <div class="form-row">
            <label>
                <span>Password</span>
                <input type="password" name="txt_password" id="password" placeholder="enter password">
            </label>
        </div>
    </br>
    <input type="submit" name="btn_login" value="Login">
    </div>
    <a href="register" class="form-login">You don't have an account? <b>Register here</b></a>
    </div>

</form>






</body>
</html>