<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css";>
    <title>Random</title>

</head>
<body>

<div class = "container">
    <div class = "row-text center" id="randomHeader">
        <h3>
            Can't decide what to eat? Click the button and let us pick a random meal for you! If want you see doesn't sound good... click again!
        </h3>
        <button class="button-primary" id="random_button"> Get Random Meal</button>
    </div>
    <div id="meal" class="row meal">
    </div>
</div>
<script src="random.js"></script>
</body>
</html>